In [11]:
# explore data
import pandas as pd

In [70]:
from sqlalchemy import create_engine

In [59]:
#chunk Parquet
!uv add dask

Resolved 124 packages in 259ms
Prepared 6 packages in 87ms
░░░░░░░░░░░░░░░░░░░░ [0/6] Installing wheels...                                 warning: Failed to hardlink files; falling back to full copy. This may lead to degraded performance.
         If the cache and target directories are on different filesystems, hardlinking may not be supported.
         If this is intentional, set `export UV_LINK_MODE=copy` or use `--link-mode=copy` to suppress this warning.
Installed 6 packages in 45ms
 + cloudpickle==3.1.2
 + dask==2026.1.1
 + fsspec==2026.1.0
 + locket==1.0.0
 + partd==1.4.2
 + toolz==1.1.0

In [60]:
import dask.dataframe as dd

In [64]:
#dask 可以分块处理 Parquet

#aiohttp 可以用来从 URL 异步读取

#requests 可以处理 HTTP 请求

#pyarrow / fastparquet 解析 Parquet
!uv add dask[complete] aiohttp requests pyarrow fastparquet

Resolved 144 packages in 334ms
Prepared 20 packages in 561ms
░░░░░░░░░░░░░░░░░░░░ [0/20] Installing wheels...                                warning: Failed to hardlink files; falling back to full copy. This may lead to degraded performance.
         If the cache and target directories are on different filesystems, hardlinking may not be supported.
         If this is intentional, set `export UV_LINK_MODE=copy` or use `--link-mode=copy` to suppress this warning.
Installed 20 packages in 243ms
 + aiohappyeyeballs==2.6.1
 + aiohttp==3.13.3
 + aiosignal==1.4.0
 + bokeh==3.8.2
 + contourpy==1.3.3
 + cramjam==2.11.0
 + distributed==2026.1.1
 + fastparquet==2025.12.0
 + frozenlist==1.8.0
 + lz4==4.4.5
 + msgpack==1.1.2
 + multidict==6.7.0
 + narwhals==2.15.0
 + pillow==12.1.0
 + propcache==0.4.1
 + sortedcontainers==2.4.0
 + tblib==3.2.2
 + xyzservices==2025.11.0
 + yarl==1.22.0
 + zict==3.0.0

In [68]:
# Read a sample of the data from csv
url_1 = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'
df = pd.read_csv(url_1)

In [12]:
# Display first rows
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [33]:
# Check data types
df.dtypes

LocationID      int64
Borough           str
Zone              str
service_zone      str
dtype: object

In [14]:
# Check data shape
df.shape

(265, 4)

In [42]:
#handling data types

dtype = {
    "LocationID": "int32",     # join key
    "Borough": "string",
    "Zone": "string",
    "service_zone": "string"
}

df = pd.read_csv(
    url_1,
    dtype=dtype
)
print(df.dtypes)

LocationID       int32
Borough         string
Zone            string
service_zone    string
dtype: object

In [69]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [74]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
print(pd.io.sql.get_schema(df, name='taxi_zone', con=engine))

CREATE TABLE taxi_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [75]:
df.head(n=0).to_sql(name='taxi_zone', con=engine, if_exists='replace')

0

In [76]:
len(df)

265

In [77]:
df.to_sql(name='taxi_zone', con=engine, if_exists='append')

265

In [78]:
# Read a sample of the data from csv from parquet
url_2 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet"
df = pd.read_parquet(url_2)

df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [26]:
# Check data types
df.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag                  str
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [17]:
# Check data shape
df.shape

(46912, 21)

In [48]:
df = pd.read_parquet(url_2)

# 2️⃣ 转换 dtype
dtype_trips = {
    "VendorID": "Int32",
    "store_and_fwd_flag": "string",
    "RatecodeID": "Int32",
    "PULocationID": "Int32",
    "DOLocationID": "Int32",
    "passenger_count": "Int32",
    "payment_type": "Int32",
    "trip_type": "Int32",

    # monetary / continuous
    "trip_distance": "float64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "ehail_fee": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64",
    "cbd_congestion_fee": "float64",
}

df = df.astype(dtype_trips)

# 3️⃣ 转换 datetime
parse_dates = ["lpep_pickup_datetime", "lpep_dropoff_datetime"]
for col in parse_dates:
    df[col] = pd.to_datetime(df[col])

# 4️⃣ 检查
print(df.dtypes)

VendorID                          Int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               string
RatecodeID                        Int32
PULocationID                      Int32
DOLocationID                      Int32
passenger_count                   Int32
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      Int32
trip_type                         Int32
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [49]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1,74,42,1,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1,1,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1,74,42,2,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2,1,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1,83,160,1,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1,1,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1,166,127,1,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1,1,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1,166,262,1,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1,1,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,<NA>,<NA>,59,51,<NA>,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,<NA>,<NA>,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,<NA>,<NA>,74,151,<NA>,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,<NA>,<NA>,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,<NA>,<NA>,33,163,<NA>,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,<NA>,<NA>,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,<NA>,<NA>,16,95,<NA>,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,<NA>,<NA>,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,<NA>,<NA>,65,87,<NA>,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,<NA>,<NA>,NaN,0.75

In [50]:
#Ingesting Data into Postgres
!uv add sqlalchemy psycopg2-binary

Resolved 118 packages in 343ms
Prepared 3 packages in 202ms
░░░░░░░░░░░░░░░░░░░░ [0/3] Installing wheels...                                 warning: Failed to hardlink files; falling back to full copy. This may lead to degraded performance.
         If the cache and target directories are on different filesystems, hardlinking may not be supported.
         If this is intentional, set `export UV_LINK_MODE=copy` or use `--link-mode=copy` to suppress this warning.
Installed 3 packages in 82ms
 + greenlet==3.3.0
 + psycopg2-binary==2.9.11
 + sqlalchemy==2.0.46

In [51]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [79]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [53]:
df.head(0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge, cbd_congestion_fee]
Index: []

[0 rows x 21 columns]

In [86]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')
# check in terminal root@localhost:ny_taxi>\dt

0

In [87]:
len(df)

46912

In [88]:
# 创建 Dask DataFrame
ddf = dd.read_parquet(url_2)

# 查看分块情况
print(ddf.npartitions)

# 遍历每个分区
for i in range(ddf.npartitions):
    df_chunk = ddf.get_partition(i).compute()
    print(f"Partition {i}, shape: {df_chunk.shape}")

1
Partition 0, shape: (46912, 21)

In [89]:
ddf.get_partition(0).head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [90]:

for i in range(ddf.npartitions):
    partition = ddf.get_partition(i).compute()
    partition.to_sql('green_taxi_data', con=engine, if_exists='append', index=False)
    print(f'Inserted partition {i}')

Inserted partition 0

In [ ]:
#check in Termimal: Version: 4.4.0
#Home: http://pgcli.com
#root@localhost:ny_taxi> \dt
#+--------+-----------------+-------+-------+
#| Schema | Name            | Type  | Owner |
#|--------+-----------------+-------+-------|
#| public | green_taxi_data | table | root  |
#+--------+-----------------+-------+-------+
#SELECT 1
#Time: 0.010s
#root@localhost:ny_taxi> SELECT COUNT(*) FROM green_taxi_data;
#+-------+
#| count |
#|-------|
#| 46912 |
#+-------+
#SELECT 1
#Time: 0.007s